@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue";
  src: url("../public/fonts/neue-haas-grotesk-display-pro-55-roman.ttf") format("ttf");
}

@layer components {
  .layout {
    @apply  w-[88.4%] lg:w-[80%] mx-auto ;
  }
}

@keyframes smooth-translate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.25rem); /* Adjust this value based on translate-x-5 */
  }
  100% {
    transform: translateX(0);
  }
}

.ease-smooth-in-out {
  animation: smooth-translate 0.5s ease-in-out;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 300px; */
  width: 800px;
  background: #2374;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 2px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
